@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
  font-family: "LitSans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("LitSans Medium"), url("LitSans-Medium.woff") format("woff");
}

* {
  padding: 0;
  margin: 0;
  /* -webkit-app-region: drag; */
}

.center {
  padding: 12% 12%;
  display: grid;
  width: 76%;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 2vw;
}

a {
  text-decoration: none;
}

.element {
  height: 60vh;
  align-self: center;
  box-shadow: 0 1px 20px rgba(0, 0, 0, 0.432);
  display: flex;
  flex-direction: column-reverse;
  background-size: cover;
  background-position: center;
  transition: all 0.2s ease-out;
}

.element:hover .text {
  display: table-cell;
  color: white;
  background-color: rgba(0, 0, 0, 0.13);
}

.element:hover {
  transform: scale(1.1);
}

#monitor {
  background-image: url("../../img/monitor.jpg");
}

#record {
  background-image: url("../../img/record.png");
}

#upload {
  background-image: url("../../img/upload.jpg");
}
body{
  height: 100vh;
  width: auto;
  background-size: cover;
  background-position: center;
}
.container {
  height: 100vh;
  width: auto;
  background-size: cover;
}

.text {
  display: none;
  vertical-align: middle;
  text-align: center;
  padding: 10% 0;
  width: 100%;
  height: 8%;
  font-family: 'century gothic', Arial, sans-serif;
  font-size: 30px;
}

.heading, .subheading{
  font-family: "LitSans Medium";
  font-style: normal;
  font-weight: normal;
  src: local("LitSans Medium"), url("LitSans-Medium.woff") format("woff");
  color: white;
  text-align: center;
}

.heading {
  -webkit-animation: moving 2s ease forwards;
  animation: moving 2s ease forwards;
}

.subheading {
  -webkit-animation: moving 1.5s ease forwards;
  animation: moving 1.5s ease forwards;
}
@keyframes moving {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-5vh);
  }
}
