@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "LitSans Medium";
    font-style: normal;
    font-weight: normal;
    src: local("LitSans Medium"), url("LitSans-Medium.woff") format("woff");
}

body {
    margin: 0;
    height: 100vh;
    font-family: "Roboto";
    font-style: normal;
    font-weight: normal;
    background-image: url('../../img/monitor_Main.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


/* Nav Bar Design */

a {
    text-decoration: none;
    color: black;
}

nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    width: auto;
    background-color: transparent;
}

.nav-items {
    padding: 2vh;
}

nav a:hover {
    color: gray;
}


/* Main Page design */