
/* Nav Bar Design */

a {
    text-decoration: none;
    color: white;
}

nav {
    display: grid;
    grid-template-columns: 20% 60% 20%;
    justify-items: center;
    align-items: center;
    width: auto;
    background-color: rgba(0, 0, 0, 0.6);
}

.nav-items {
    font-family: "LitSans Medium";
    font-style: normal;
    font-weight: normal;
    padding: 2vh;
}
.active{
    color:goldenrod;
}

nav a:hover {
    transition: 0.3s ease-in-out;
    color: gray;
}
