@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@font-face {
    font-family: "LitSans Medium";
    font-style: normal;
    font-weight: normal;
    src: local("LitSans Medium"), url("LitSans-Medium.woff") format("woff");
}

body {
    margin: 0;
    height: 100vh;
    background-color: rgba(25, 91, 122, 0.904);
    background-image: url('../img/recordbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "LitSans Medium";
    font-style: normal;
    font-weight: normal;
}

.btn {
    font-size: 1vw;
    margin: 1vw;
    color: white;
    padding: 0.6vw;
    height: 8vh;
    width: 18vw;
    border-width: .5vw;
    border-color: white;
    background: transparent;
    transition: 0.5s ease-in-out;
}

.btn:hover {
    margin: 1vw;
    color: #16a085;
    padding: 0.6vw;
    border-width: 0.2vw;
    border-color: white;
    background: white;
}

main {
    /* width: auto;
    height: auto;
    display: flex; */
    /* flex-direction: column; */
    /* align-items: center; */
    /* justify-content: center; */
}

.vid-container {
    margin-top: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.player {
    border: 1px solid white;
    height: 45vh;
    width: 36vw;
    padding: 1vw;
    margin: 1vw;
}

.btn-container {
    text-align: center;
}

.active{
    color:rgb(243,70,76);
}