body {
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(85, 94, 91);
}

.left-nav {
    float: left;
}

.right-nav {
    float: right;
}

li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 1em;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #EDEDED;
}

.active {
    background-color: #EDEDED;
}

.record {
    height: 100vh;
    width: auto;
    background-color: #F54C4C;
    overflow-x: hidden;
}

.display {
    background-color: white;
    border: 1vh solid black;
    margin: 5vh 2vh 2vh 2vh;
    height: 70vh;
    width: auto;
}

.circle {
    background-image: linear-gradient();
    border: 1vh solid white;
    color: rgb(133, 0, 0);
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 4vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 100%;
}