body {
    margin: 0;
    height: 100vh;
    background-image: url(../../img/monitorbg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Main page design */

overflow-x: hidden;

}
*/