<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>CamAlert</title>
</head>

<body>
    <div style="background-image: url('../../img/front.jpg')" class="container">
        <h1 style="font-size: 15vw; padding-top: 25vh" class="heading">CamAlert</h1>
        <h2 style="font-size: 3vw" class="subheading">An ANTI-THEFT camera system</h2>
    </div>
    <div class="container">
        <div class="center">
            <a href="record.html" class="element" id="record">
                <div class="text">
                    RECORD
                </div>
            </a>
            <a href="monitor.html" class="element" id="monitor">
                <div class="text">
                    MONITOR
                </div>
            </a>
            <a href="upload.html" class="element" id="upload">
                <div class="text">
                    UPLOAD
                </div>
            </a>
        </div>
    </div>
</body>

</html>