<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/main.css">
    <title>Desktop: Catch the theif</title>
</head>

<body>

    <div class="container">
        <a href="monitor.html">
            <div id="cont1" class="colorbox">
                <div class="text">
                    MONITOR
                </div>
            </div>
        </a>
        <a href="record.html">
            <div id="cont2" class="colorbox">
                <div class="text">
                    RECORD
                </div>
            </div>
        </a>
        <a href="process.html">
            <div id="cont3" class="colorbox">
                <div class="text">
                    PROCESS
                </div>
            </div>
        </a>
    </div>

</body>

</html>