<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=s, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/record.css">
    <title>Desktop: Catch the theif</title>
</head>

<body>
    <div>
        <ul>
            <li class="left-nav"><a href="main.html">Home</a></li>
            <li class="left-nav"><a href="monitor.html">Monitor</a></li>
            <li class="left-nav"><a class="active" href="record.html">Record</a></li>
            <li class="left-nav"><a href="process.html">Process</a></li>
            <li class="right-nav"><a href="contact.html">Contact</a></li>
        </ul>
    </div>
    <div class="record">
        <div class="display">
            Video will record here
        </div>
        <button class="start circle">Start</button>
        <button class="end circle">End</button>
    </div>
</body>

</html>